//- .menu
.menu__panel
    h3.menu__title Info
    ul.menu__list
        li
          a(href=`${baseUrl}`) Home
        li
          a(href=`${baseUrl}about`) About
        li
          a(href=`${baseUrl}contact`) Contact

.menu__panel
    h3.menu__title Categories
    ul.menu__list    
        li
          a(href=`${baseUrl}html`) HTML5
        li
          a(href=`${baseUrl}css`) CSS3